
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Creation Date</th>
            <th>Option</th>
        </tr>
        @foreach (var product in ViewBag.listProducts)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.CreationDate.ToString("dd/MM/yyyy")</td>
                <td>Delete | Edit</td>
            </tr>
        }
    </table>
</body>
</html>
